@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@200&family=League+Gothic&family=Nunito:ital,wght@1,600&family=Open+Sans&family=Oswald&family=Roboto+Condensed:ital,wght@0,500;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid blue;
  height: 100vh;
}
.wrap .BurgenMenu {
  position: absolute;
}
.wrap .navigation {
  position: absolute;
  border: 3px solid black;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.wrap .player {
  border: 3px solid green;
  width: 100%;
  height: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .player .pre_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 512px;
  padding: 10px;
  background-color: black;
}
.wrap .player .isRight {
  color: rgb(111, 70, 221);
  -webkit-transform: translateX(-17px);
          transform: translateX(-17px);
}
.wrap .player .isLeft {
  color: rgb(111, 70, 221);
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
}
.wrap .player .buttons {
  width: 400px;
  padding: 6px;
  background: rgb(111, 70, 221);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.BurgenMenu {
  position: fixed;
  margin-top: 90vh;
  opacity: 0.1;
  z-index: 10;
  font-size: 4em;
  padding: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.BurgenMenu:hover {
  opacity: 1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.BurgenMenu {
  opacity: 0.2;
  z-index: 10;
  font-size: 4em;
  padding: 10px;
  cursor: pointer;
}

.left_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  padding: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.left_button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(0px 0px 5px purple);
          filter: drop-shadow(0px 0px 5px purple);
}

.right_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  padding: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.right_button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(0px 0px 5px purple);
          filter: drop-shadow(0px 0px 5px purple);
}

.play_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  padding: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.play_button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(0px 0px 5px purple);
          filter: drop-shadow(0px 0px 5px purple);
}

.prev_s {
  width: 512px;
  height: 512px;
  border: 1px solid red;
  border-radius: 25px;
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
  background-repeat: no-repeat;
  background-size: cover;
}

.length_audio {
  border: 1px solid red;
  width: 512px;
  height: 10px;
}
.length_audio .current_leng {
  cursor: pointer;
  background-color: black;
  height: 8px;
}

.time_leng {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2em;
}

.close_burger {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(-201px);
          transform: translateX(-201px);
}

.open_burger {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.isOpenBurger {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 200px;
}

.isCloseBurger {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 0px;
}

.upcase {
  background: rgba(111, 70, 221, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
}

.botcase {
  border: 3px solid pink;
  height: 100%;
  width: 100%;
  background-color: rgb(135, 135, 228);
}

.addmusic {
  cursor: pointer;
  position: absolute;
  background-color: rgb(62, 119, 119);
  width: 100px;
  height: 100px;
  bottom: 5vh;
  right: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadedMusic {
  font-size: 1.3em;
  border: 1px solid black;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.isEqTwo {
  background-color: red;
  margin-bottom: 10px;
}

.isNotEqTwo {
  background-color: white;
  margin-bottom: 10px;
}

.control_buttons {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.menu_tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu_tool .logotip {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
}
.menu_tool .this_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: start;
  width: 100%;
  font-family: "Dancing Script", cursive;
  gap: 10px;
  font-size: 1.3em;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.FixSvgMenu {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.Home {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Home:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-filter: drop-shadow(0 0 3px rgb(172, 138, 236));
          filter: drop-shadow(0 0 3px rgb(172, 138, 236));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.addMusic {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.addMusic:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-filter: drop-shadow(0 0 3px rgb(172, 138, 236));
          filter: drop-shadow(0 0 3px rgb(172, 138, 236));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.playList {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.playList:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-filter: drop-shadow(0 0 3px rgb(172, 138, 236));
          filter: drop-shadow(0 0 3px rgb(172, 138, 236));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.settings {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.upload {
  cursor: pointer;
  position: absolute;
  background-color: rgb(62, 119, 119);
  width: 100px;
  height: 100px;
  bottom: 5vh;
  right: 250px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_yes {
  cursor: pointer;
  position: absolute;
  background-color: rgb(62, 119, 119);
  font-size: 2em;
  bottom: 5vh;
  right: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.selectedMusic {
  -webkit-box-shadow: 5px 5px 5px green;
          box-shadow: 5px 5px 5px green;
}

.text_app {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.text_rem {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.settings:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-filter: drop-shadow(0 0 3px rgb(172, 138, 236));
          filter: drop-shadow(0 0 3px rgb(172, 138, 236));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wrap_error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.wrap_error .error_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 512px;
  padding: 15px;
  height: auto;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
.wrap_error .error_body .title_er {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.wrap_error .error_body .opic_er {
  font-size: 1.3em;
  line-height: calc(1em + 10px);
  margin-bottom: 50px;
}
.wrap_error .error_body .opic_er_type {
  font-size: 1.1em;
  text-decoration: underline;
  text-align: justify;
}
.wrap_error .error_body .button_er {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background-color: green;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.wrap_fone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.wrap_fone .column_back {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.wrap_fone .column_back .column_back li {
  width: auto;
  border: 1px solid red;
  height: 100px;
}
.wrap_fone .column_back .this_column_back {
  width: 100%;
  border: 1px solid red;
  height: 0%;
  background: rgb(0, 247, 8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, rgb(0, 247, 8)), color-stop(53%, rgb(198, 132, 0)), color-stop(99%, rgb(255, 26, 0)));
  background: linear-gradient(to bottom, rgb(0, 247, 8) 7%, rgb(198, 132, 0) 53%, rgb(255, 26, 0) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00f708", endColorstr="#ff1a00",GradientType=0 );
}

.volume_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.volume_line_second {
  background-color: white;
  border: 2px solid black;
  position: absolute;
  padding: 10px 20px;
  top: 60px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}
.volume_line_second_main {
  background-color: white;
  border: 2px solid black;
  position: absolute;
  padding: 10px 20px;
  top: 750px;
  right: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.repeatStyle {
  -webkit-filter: drop-shadow(0px 0px 5px red);
          filter: drop-shadow(0px 0px 5px red);
}

.repeat_fixing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.square {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid black;
}

.settings_page {
  -webkit-transition: 1s;
  transition: 1s;
  border: 3px solid green;
  width: 100%;
  height: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_page .wrap_setting {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_page .wrap_setting .label_setting {
  font-size: 2em;
  margin-bottom: 35px;
}
.settings_page .wrap_setting .sound_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 75px;
}
.settings_page .wrap_setting .sound_line .width_line {
  width: 300px;
}
.settings_page .wrap_setting .sound_line .set1 {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_page .wrap_setting .sound_line .set2 {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_page .wrap_setting .sound_line .set3 {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_page .wrap_setting .gif_anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 75px;
}
.settings_page .wrap_setting .gif_anim .set4 {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_page .wrap_setting .gif_anim .set5 {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.settings_page .wrap_setting .gif_anim .flag_country {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings_page .wrap_setting .reset_button {
  margin-top: 0;
  border: 2px solid black;
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 35px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.settings_page .wrap_setting .reset_button:hover {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.settings_page .wrap_setting .version {
  margin-top: 25px;
}