* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrap {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  height: 800px;
  .navigation {
    border: 1px solid black;
    width: 200px;
    height: 100%;
  }
  .player {
    border: 1px solid green;
    width: 100%;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}

.left_button {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  &_icon {
  }
}

.right_button {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  &_icon {
  }
}

.play_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  &_icon {
  }
}

.prev_s {
  width: 512px;
  height: 512px;
  border: 1px solid red;
  border-radius: 25px;
  filter: contrast(130%);
  background-image: url("../gifies/1.gif");
}

.length_audio {
  border: 1px solid red;
  width: 512px;
  height: 10px;
  .current_leng {
    width: 100px;
    background-color: black;
    height: 8px;
  }
}
.time_leng {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2em;
}
